##### Question (b)
# Answers from the calculations by hand

In [50]:
ans1 = {8}

In [59]:
ans2 = {2,3,4,6,8,9,10,11}

In [3]:
ans3 = {1,3,5,7,9,11,12}

In [4]:
ans4 = {1,2,4,5,6,7,9,10}

In [ ]:
ans5 = {1,5,7,9}

In [102]:
ans6 = {12}

In [103]:
ans7 = {2,4,6,10}

In [95]:
ans8 = {9}

In [96]:
ans9 = {2,6,8,9}

##### Question (c) Creating the sets

In [35]:
# Create set A
A = {2, 4, 6, 8, 10}
f'Type A: {type(A)}, A: {A}' # "Type A: <class 'set'>, A: {2, 4, 6, 8, 10}"

"Type A: <class 'set'>, A: {2, 4, 6, 8, 10}"

In [36]:
# Create set B
B = {8, 11, 3, 12}
f'Type B: {type(B)}, A: {B}' # "Type B: <class 'set'>, B: {8, 11, 3, 12}"

"Type B: <class 'set'>, A: {8, 11, 3, 12}"

In [37]:
# Create set C
C = {2, 3, 6, 8, 9, 11}
f'Type C: {type(C)}, A: {C}' # "Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}"

"Type C: <class 'set'>, A: {2, 3, 6, 8, 9, 11}"

In [38]:
# Create universal set U
U = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
f'Type U: {type(U)}, A: {U}' # "Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

"Type U: <class 'set'>, A: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

##### Calculating answers using Python

In [ ]:
#1
A_inters_B = A.intersection(B) # A intersection B
print(A_inters_B)

{8}

In [58]:
#2
A_union_C = A|C
print(A_union_C)

{2, 3, 4, 6, 8, 9, 10, 11}

In [65]:
#3
A_comp = U-A
print (A_comp)

{1, 3, 5, 7, 9, 11, 12}

In [71]:
#4
B_comp = U-B
print(B_comp)

{1, 2, 4, 5, 6, 7, 9, 10}

In [77]:
# 5
A_union_B_comp = U - (A|B)
print(A_union_B_comp)

{1, 5, 9, 7}

In [75]:
#6
B_inters_C_comp = B & (U-C)
print(B_inters_C_comp)

{12}

In [73]:
#7
compl_of_B = A-B
print(compl_of_B)

{2, 10, 4, 6}

In [80]:
#8
C_compl_B_compl_A = C-B-A
print(C_compl_B_compl_A)

{9}

In [79]:
#9
C_inters_A_union_C_min_B = (C&A)| (C-B)
print(C_inters_A_union_C_min_B)

{2, 6, 8, 9}

#### Checking the validity of answers

In [84]:
#1 A∩B
A_inters_B == ans1

True

In [85]:
#2 A∪C
A_union_C == ans2

True

In [86]:
#3  A complement
A_comp == ans3

True

In [87]:
#4 The absolute complement of B
B_comp == ans4

True

In [105]:
#5 (A∪B) complement
A_union_B_comp == ans5

False

In [104]:
#6 B∩C′
B_inters_C_comp == ans6

True

In [99]:
#7 A∖B
compl_of_B == ans7

True

In [100]:
#8 C∖(B∖A)
C_compl_B_compl_A == ans8

True

In [101]:
#9 (C∩A)∪(C∖B)

C_inters_A_union_C_min_B == ans9

True

#### The Inclusion Exclusion Principle

In [106]:
left_hand_eq = A|B|C

In [107]:
print(left_hand_eq)

{2, 3, 4, 6, 8, 9, 10, 11, 12}

In [120]:
# Finding the sizes (cardinality) of intersections
n_A = len(A)
n_B = len(B)
n_C = len(C)

n_A_and_B = len(A & B)
n_A_and_C = len(A & C)
n_B_and_C = len(B & C)

n_A_and_B_and_C = len(A & B & C)

In [123]:
## Applying the inclusion-exclusion principle
right_hand_eq = n_A + n_B + n_C - n_A_and_B - n_A_and_C - n_B_and_C + n_A_and_B_and_C

print(right_hand_eq)

9

In [122]:
left_hand_eq == right_hand_eq

False

#### Set Operations in Python

In [183]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [166]:
# Removing turtle from Eve's pet list:
Eve.remove("Turtle")

In [167]:
len(Eve)

2

In [168]:
# Checking for number of pets in  Eve's updated pet list:
for element in Eve:
    print (element)

Goldfish
Rabbit

In [184]:
# Adding Mary's pets to Nina's pet list
Nina.update(Mary)

In [185]:
# Checking the number of pets in Nina's updated pet list after adding Mary's pets:
for element in Nina:
    print(element)

Chinchilla
Cat
Rabbit
Goldfish
Donkey
Dog
Chicken
Horse
Parrot

In [186]:
# Clearing Mary's pet list:
Mary.clear()

In [187]:
# Checking Mary's pet list after clearing it:
for elements in Mary:
    print(element)

In [188]:
# How many species Nina is taking care of right now:
len(Nina)

9

In [189]:
#Nina's updated pet list after removing common pets to hand to Eve
Nina.difference_update(Eve)

In [190]:
len(Nina)

7

#### EU Dataset Analysis

In [200]:
import pandas as pd

# Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')
# Your code here to remove any whitespace from names

In [201]:
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [202]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [209]:
country_list = df['Country'].tolist()
print (country_list)

[' Russia', ' Germany ', ' Turkey ', 'France', 'United Kingdom', ' Italy ', ' Spain ', ' Ukraine', ' Poland ', ' Romania ', ' Netherlands ', ' Belgium ', ' Greece ', ' Czech Republic ', ' Portugal ', ' Sweden ', ' Hungary ', ' Azerbaijan ', ' Belarus ', ' Serbia ', ' Austria ', '  Switzerland ', ' Bulgaria ', ' Denmark ', ' Finland ', ' Slovakia ', ' Norway ', ' Ireland ', ' Croatia ', ' Bosnia and Herzegovina ', ' Georgia ', ' Moldova ', ' Armenia ', ' Lithuania ', ' Albania ', ' Macedonia ', ' Slovenia ', ' Latvia ', ' Kosovo ', ' Estonia ', ' Cyprus ', ' Montenegro ', ' Luxembourg ', ' Malta ', ' Iceland ', ' Jersey (UK) ', ' Isle of Man (UK) ', ' Andorra ', ' Guernsey (UK) ', ' Faroe Islands (Denmark) ', ' Liechtenstein ', ' Monaco ', ' Gibraltar (UK)', ' San Marino ', ' Åland Islands (Finland) ', ' Svalbard (Norway) ', '  Vatican City ']

In [213]:
len(country_list)

57

In [ ]:
unique_countries = list(set(country_list)) #Duplicates

In [215]:
len(country_list)

57

In [217]:
country_set_EU = set(country_list)

In [220]:
len(country_set_EU)

57

In [221]:
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe')

In [222]:
Europe_country_list = df['Country'].tolist()
print (Europe_country_list)

[' Russia', ' Germany ', ' Turkey ', 'France', 'United Kingdom', ' Italy ', ' Spain ', ' Ukraine', ' Poland ', ' Romania ', ' Netherlands ', ' Belgium ', ' Greece ', ' Czech Republic ', ' Portugal ', ' Sweden ', ' Hungary ', ' Azerbaijan ', ' Belarus ', ' Serbia ', ' Austria ', '  Switzerland ', ' Bulgaria ', ' Denmark ', ' Finland ', ' Slovakia ', ' Norway ', ' Ireland ', ' Croatia ', ' Bosnia and Herzegovina ', ' Georgia ', ' Moldova ', ' Armenia ', ' Lithuania ', ' Albania ', ' Macedonia ', ' Slovenia ', ' Latvia ', ' Kosovo ', ' Estonia ', ' Cyprus ', ' Montenegro ', ' Luxembourg ', ' Malta ', ' Iceland ', ' Jersey (UK) ', ' Isle of Man (UK) ', ' Andorra ', ' Guernsey (UK) ', ' Faroe Islands (Denmark) ', ' Liechtenstein ', ' Monaco ', ' Gibraltar (UK)', ' San Marino ', ' Åland Islands (Finland) ', ' Svalbard (Norway) ', '  Vatican City ']

In [223]:
len(Europe_country_list)

57